@charset 'utf-8';

#app {
  width: 100vw;
  height: 100vh;
  perspective: 1600px;
}

.list-item {
  position: fixed;
  /* 임의로 크기 설정 */
  width: 340px;
  height: 400px;
  top: 50%;
  left: 50%;
  /* 위치 지정 기준점(좌상단) 때문에 쳐진 위치 끌어 올리기 */
  transform: translate(-50%, -50%) rotateY(200deg);
  transform-style: preserve-3d;
}

.list-item li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.list-item li img {
  /* img 넙적해지는거 방지 */
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.list-item li:nth-child(1) {
  /* 1번 img라 회전은 X, z축으로 반지름 만큼 띄우기 */
  transform: rotateY(0) translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-item li:nth-child(2) {
  /* 2번 img라 회전은 360deg / 7 * 2, z축으로 반지름 만큼 띄우기 */
  transform: rotateY(calc(360deg / 7 * 1))
    translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-item li:nth-child(3) {
  /* 3번 img라 회전은 360deg / 7 * 3, z축으로 반지름 만큼 띄우기 */
  transform: rotateY(calc(360deg / 7 * 2))
    translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-item li:nth-child(4) {
  /* 4번 img라 회전은 360deg / 7 * 4, z축으로 반지름 만큼 띄우기 */
  transform: rotateY(calc(360deg / 7 * 3))
    translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-item li:nth-child(5) {
  /* 5번 img라 회전은 360deg / 7 * 5, z축으로 반지름 만큼 띄우기 */
  transform: rotateY(calc(360deg / 7 * 4))
    translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-item li:nth-child(6) {
  /* 6번 img라 회전은 360deg / 7 * 6, z축으로 반지름 만큼 띄우기 */
  transform: rotateY(calc(360deg / 7 * 5))
    translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-item li:nth-child(7) {
  /* 7번 img라 회전은 360deg / 7 * 7, z축으로 반지름 만큼 띄우기 */
  transform: rotateY(calc(360deg / 7 * 6))
    translateZ(calc(340px * 7 / 3.14 / 2));
}
